<nav class="navbar navbar-fixed-top navbar-dark bg-primary">
<a class="navbar-brand" href="#">Huayra-Builder</a>
<div class="navbar-toggleable-xs" id="collapsingNavbar">
    <ul class="nav navbar-nav pull-right">

      {{#link-to "index" tagName="li" class="nav-item"}}<a class="nav-link" href>principal</a>{{/link-to}}
      {{#link-to "repos" tagName="li" class="nav-item"}}<a class="nav-link" href>repositorios</a>{{/link-to}}

    </ul>
</div>
</nav>
