<nav class="navbar navbar-fixed-top navbar-dark bg-primary">
<button class="navbar-toggler hidden-sm-up pull-right" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
    ☰
</button>
<a class="navbar-brand" href="#"> Huayra-Builder</a>
<div class="collapse navbar-toggleable-xs" id="collapsingNavbar">
    <ul class="nav navbar-nav pull-right">

      {{#link-to "index" tagName="li" class="nav-item"}}<a class="nav-link" href>principal</a>{{/link-to}}
      {{#link-to "about" tagName="li" class="nav-item"}}<a class="nav-link" href>acerca de ...</a>{{/link-to}}

    </ul>
</div>
</nav>
