@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";

.text-center {
  text-align: center;
}

.large-margin {
  margin:2em;
}

.button-bar {
  margin-top: 1em;
  margin-bottom: 1em;
}

.ember-modal-dialog {
  border-radius: 0px;
  left: 4em;
  top: 4em;
  right: 4em;
  height: 45%;

}
